In [0]:
import findspark
findspark.init()

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("hive + Jupiter").enableHiveSupport().getOrCreate()

In [0]:
spark.sql("show databases").show()

In [0]:
spark.sql("use default").show()

In [0]:
spark.sql("show tables").show()

##  Crear una tabla

En este punto tiene que haber importando el archivo athlete_events.csv al hdfs ruta: /user/curso

Se procede a crear una tabla

In [0]:
spark.sql("create database prueba_olimpica")

In [0]:
spark.sql("show databases").show()

In [0]:
spark.sql("use prueba_olimpica")

In [0]:
spark.sql("create table deportes \
          (ID int,Name string,Sex string,Age int,Height int,Weight int ,Team string, NOC string, Games string,Year int,Season string, City string, Sport string, Event string, Medal string) \
          row format delimited fields terminated by ',' \
          stored as textfile ")

In [0]:
spark.sql("show tables").show()

In [0]:
# para borrar tablas
# spark.sql("drop table deportes")

In [0]:
spark.sql("select * from deportes").show()

In [0]:
# al filesystem de hadoop
# spark.sql("load data inpath '/user/curso/athlete_events.csv' overwrite into table deportes")


# Al filesystem local 
spark.sql("load data local inpath '/home/curso/datos/athlete_events.csv' overwrite into table deportes")

In [0]:
spark.sql("select * from deportes").show(10)

**ID**      identificador

**Name**    nombre

**Sex**     genero

**Age**     edad

**Height**  altura

**Weight**  peso

**Team**    equipo

**NOC**     Pais

**Games**   Juego olímpico

**Year**    Año

**Season**  estación del año

**City**    ciudad

**Sport**   deporte

**Event**   evento

**Medal**   medalla

In [0]:
spark.sql("select NOC, count(*) from deportes group by NOC order by count(*) desc").show()

### 1

Listar los nombres de jugadores hombres de los Estados unidos que juegan basketball y su edad es mayor a 28

In [0]:
spark.sql("select name from deportes where NOC = 'USA' and sex = 'M' and age > 28 and Sport = 'Basketball'").show()

Encontrar la lista de los jugadores que hay jugado las olimpiadas de invierno después de 1952 y el Athletics Women's High Jump

Encontrar el name, age, team de todos los jugadores de Denmark quienes hay jugado las Summer Olympics en Rio de Janeiro

Encontrar el name y la age de todos los jugadores quienes han jugado Football como un deporte de los United States, France y Uruguay

Encontrar el name y el NOC de jugadores quienes hay jugado el 2012 Summer y las olimpiadas de invierno 2006 Winter Olympics